.container__news-card {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  background-color: rgba(163, 159, 159, 0.527);
  padding: 2vh;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.356);
  width: 15%;
  margin-bottom: 5vh;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card__content > h3 {
  margin-bottom: 1.5vh;
}

.news-card__content > p {
  margin-bottom: 1.5vh;
}

.news-card__buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

hr {
  width: 100%;
  margin-bottom: 10px;
}