.container__allCards {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: space-evenly;
}

.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__newsCards {
  display: flex;
  margin-top: 5vh;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.previousButton > img {
  transform: scaleX(-1);
}

.container__pageButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.container__pageButtons > button > img {
  display: flex;
}

.container__pageButtons > button {
  display: flex;
  background-color: #EFEFEF;
}

.container__pageButtons > h2 {
  border: 2px solid black;
  padding: 10px;
  border-radius: 3vh;
  background-color: #EFEFEF;
}

.disable__pageButtons {
  display: none;
}

.container__menuBar {
  margin-top: 2vh;
}

.container__newsCards > h2 {
  margin-bottom: 10vh;
}