.container__main-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  height: 46vh;
  justify-content: space-between;
  text-align: center;
}

.main-card__title {
  margin-bottom: 3vh;
}

.main-card__image {
  display: flex;
  border: 7px solid rgba(0, 0, 0, 0.267);
  border-radius: 17px;
}

.main-card__image > img {
  border-radius: 10px;
}