.container__Header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 183vh;
  top: 3.1vh;
  box-shadow: 0vh 15px 10px rgba(0, 0, 0, 0.2);
}

.container__OutletContent {
  height: 85vh;
  margin-top: 20vh;
}